# 가구원형태

In [2]:
import pandas as pd
import matplotlib as plt
from plotnine import *

In [68]:
%pwd

'C:\\Users\\lunar\\Desktop\\whos_next_rookie\\code\\seoul_populations'

In [3]:
def str_to_float(x):
    try:
        return float(x.replace(',',''))
    except:
        return x

In [4]:
df_2010 = pd.read_csv('data/2010_household.csv', encoding='euc-kr').copy()

df_2010 = df_2010[df_2010.iloc[:,2] !='소계']

df_2010.columns=df_2010.iloc[0,:]

columns = ['계','1인가구','2인가구','3인가구','4인가구','5인가구','6인이상가구']
for column in columns:
    df_2010[column] = df_2010[column].apply(lambda x:str_to_float(x))
df_2010 = df_2010.drop(0)

In [12]:
aperson_2010 = df_2010.sort_values(by=['1인가구'], ascending=False).head(20)

In [14]:
fam_2010 = df_2010.sort_values(by=['4인가구','5인가구'],ascending=False).head(20)

In [24]:
df_2015 = pd.read_csv('data/2015_household.csv', encoding='euc-kr').copy()

df_2015 = df_2015[df_2015.iloc[:,2] !='소계']

df_2015.columns=df_2015.iloc[0,:]

columns = ['계','1인가구','2인가구','3인가구','4인가구','5인가구','6인가구','7인이상 가구']
for column in columns:
    df_2015[column] = df_2015[column].apply(lambda x:str_to_float(x))
df_2015 = df_2015.drop(0)

In [27]:
df_2015.head()

,기간,자치구,동,계,1인가구,2인가구,3인가구,4인가구,5인가구,6인이상가구,7인이상 가구
1,2015,합계,합계,3.78449e+06,1.11574e+06,930467,817440,701945,169436,38547,10911
3,2015,종로구,사직동,3562,1125,1006,731,500,145,40,15
4,2015,종로구,삼청동,1092,363,296,214,151,45,14,9
5,2015,종로구,부암동,3841,995,1082,836,660,190,53,25
6,2015,종로구,평창동,6310,1252,1709,1573,1248,388,105,35

In [25]:
df_2015 = df_2015.rename({'6인가구': '6인이상가구'},axis =1)

In [56]:
aperson_2015 = df_2015.sort_values(by=['1인가구'], ascending=False).head(20)

In [29]:
fam_2015 = df_2015.sort_values(by=['4인가구','5인가구'],ascending=False).head(20)

In [87]:
aperson = pd.concat([aperson_2010,aperson_2015])

# [df1, df4], axis=1, join_axes=[df1.index]

C:\Users\lunar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [88]:
aperson['계'] = aperson['계'].astype('int')

In [90]:
aperson = aperson[['자치구','기간','동','계']].pivot_table(values=['계'], index=['동','자치구'],columns=['기간'])

In [96]:
aperson

                    계
기간               2010       2015
동     자치구
가산동   금천구         NaN    10348.0
구로3동  구로구     12665.0    12548.0
노량진1동 동작구     13855.0    16295.0
논현1동  강남구     13261.0    12205.0
논현2동  강남구     10192.0        NaN
대학동   관악구     15859.0    13540.0
상도1동  동작구     15818.0    19365.0
서교동   마포구     14331.0    13857.0
서림동   관악구     12955.0    12620.0
서원동   관악구     11222.0    11642.0
신림동   관악구     10403.0    12726.0
신촌동   서대문구     8889.0    11277.0
역삼1동  강남구     18924.0    18741.0
연희동   서대문구    15941.0    17270.0
용신동   동대문구        NaN    13654.0
이문1동  동대문구    14094.0    15227.0
인헌동   관악구     11882.0        NaN
청룡동   관악구     15709.0    15766.0
합계    합계    3504297.0  3784490.0
행운동   관악구     13596.0    14676.0
화곡1동  강서구     18686.0    21425.0
화양동   광진구     11981.0    15466.0

Top20 1인가구 동네를 구해보았다. 1인가구는 점점 늘어나고 있는 추세이다. 
2010대비 새로생긴 1인가구동네는 금천구 가산동과 동대문구 용신동이다. 
2015년에 사라진 1인가구동네는 강남구 논현2동과 관악구 인헌동이다.