In [19]:

import pandas as pd
import numpy as np
import re as r
import glob
from plotnine import *

진영님
제가 파일을 하나하나 열어보니 encoding이 다 다르고 column이 다달라서 하나하나 열어보는 수밖에 없더라구요.
연도 전체를 merge하기 위해서는 각 연도별 동일한 형태의 데이터프레임이 필요했습니다.

In [35]:
df = pd.read_csv('to_csv_m/2008_4_4.csv', encoding = 'euc-kr')

# 각 데이터프레임에 담을 칼럼을 불러옵니다.  
df= df[['Column1','Column3', 'Column5']].copy()
# merge를 하기 위해서는 각 데이터프레임에 동일한 이름의 칼럼이 있어야해요. 
# column1에 있는 value값에 연도이름이 있어서 이를 column5의 이름으로 해주었어요.
df=df.rename({'Column3' : '동이름', 'Column5' : '2008'}, axis=1)

# 지저분한 row와 column들을 정리하는 중이에요.
# head를 찍어보고 정리했어요. 
df = df.drop(df.index[:2])
df = df.drop('Column1', axis = 1)
df = df[df.동이름 != '소계']

# 이것들을 df에 담아줍니다! 
df2008 = df.copy()

# 밑에 코드는 조금씩 달라요. 제가 전처리한 방식이 똑똑한 방식은 아니에요.
# 진영님이 더 똑똑한 방식을 고민해보시면 좋을 것 같아요! ㅎㅎ

In [36]:


df = pd.read_csv('to_csv_m/2009_4_4.csv', encoding = 'euc-kr')
df= df[['Column1','Column3', 'Column5']].copy()
df=df.rename({'Column3' : '동이름', 'Column5' : '2009'}, axis=1)
df = df.drop(df.index[:2])
df = df.drop('Column1', axis = 1)
df = df[df.동이름 != '소계']


df0 = df.copy()

In [37]:
df = pd.read_csv('2010_4_4.csv', encoding='utf-8')

df = df[['기간', '동', '계']].copy()
df = df.rename({'동' : '동이름', '계' : '2010'}, axis=1)
df = df.drop(df.index[0])
df = df.drop('기간', axis = 1)
df = df[df.동이름 != '소계']


df1 = df.copy()

In [38]:
df1.head()

   동이름        2010
1   합계  10,575,447
3  사직동      10,668
4  삼청동       3,706
5  부암동      11,648
6  평창동      19,921

In [39]:
df = pd.read_csv('2011_4_4.csv', encoding='utf-8')

df = df[['기간', '동', '계']].copy()
df = df.rename({'동' : '동이름', '계' : '2011'}, axis=1)
df = df.drop(df.index[0])
df = df.drop('기간', axis = 1)
df = df[df.동이름 != '소계']


df2 = df.copy()

In [67]:
df = pd.read_csv('2012_4_4.csv', encoding='utf-8')

df = df[['기간', '동', '계']].copy()
df = df.rename({'동' : '동이름', '계' : '2012'}, axis=1)
df = df.drop(df.index[:1])
df = df.drop('기간', axis = 1)
df = df[df.동이름 != '소계']
df['동이름'] = df['동이름'].str.replace('총계', '합계', regex=True)


df3 = df.copy()

In [68]:
df3.head()

   동이름        2012
1   합계  10,442,426
3  사직동      10,477
4  삼청동       3,485
5  부암동      11,478
6  평창동      19,816

In [59]:
df = pd.read_csv('2013_4_4.csv', encoding='utf-8')
df = df[['기간', '동', '인구']].copy()
df = df.rename({'동' : '동이름', '인구' :'2013'}, axis=1)
df = df.drop(df.index[:2])
df = df.drop('기간', axis = 1)
df = df[df.동이름 != '소계']


df4 = df.copy()

In [60]:
df4.head()

   동이름        2013
2   합계  10,388,055
4  사직동      10,327
5  삼청동       3,367
6  부암동      11,469
7  평창동      19,779

In [61]:
df = pd.read_csv('2014_4_4.csv', encoding='utf-8')

df = df[['기간', '동', '인구']].copy()
df = df.rename({'동' : '동이름', '인구' :'2014'}, axis=1)
df = df.drop(df.index[:2])
df = df.drop('기간', axis = 1)
df = df[df.동이름 != '소계']


df5 = df.copy()

In [62]:
df = pd.read_csv('2015_4_4.csv', encoding='utf-8')
df.head()
df = df[['기간', '행정동', '인구']].copy()
df = df.rename({'행정동' : '동이름', '인구' : '2015'}, axis=1)
df = df.drop(df.index[:2])
df = df.drop('기간', axis = 1)
df = df[df.동이름 != '소계']


df6 = df.copy()

In [63]:
df = pd.read_csv('2016_4_4.csv', encoding='utf-8')
df.head()
df = df[['기간', '행정동', '인구']].copy()
df = df.rename({'행정동' : '동이름', '인구' : '2016'}, axis=1)
df = df.drop(df.index[:2])
df = df.drop('기간', axis = 1)
df = df[df.동이름 != '소계']


df7 = df.copy()

In [64]:
df = pd.read_csv('2017_4_4.csv', encoding='utf-8')

df = df[['기간', '행정동', '인구']].copy()
df = df.rename({'행정동' : '동이름', '인구' : '2017'}, axis=1)
df = df.drop(df.index[:2])
df = df.drop('기간', axis = 1)
df = df[df.동이름 != '소계']


df8 = df.copy()

In [69]:
dfs = [df0,df1,df2,df3,df4,df5,df6,df7,df8]

pop = df2008

for df in dfs :
    pop = pd.merge(pop, df, how='left')
    
pop.head()

,동이름,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,합계,"10,456,034","10,464,051","10,575,447","10,528,774","10,442,426","10,388,055","10,369,593","10,297,138","10,204,057","10,124,579"
1,사직동,"10,451","10,464","10,668","10,602","10,477","10,327","10,132","10,033","10,013","9,717"
2,삼청동,"3,801","3,717","3,706","3,590","3,485","3,367","3,268","3,174","3,118","3,097"
3,부암동,"11,933","11,602","11,648","11,596","11,478","11,469","11,356","11,217","11,044","10,726"
4,평창동,"19,757","19,780","19,921","19,996","19,816","19,779","19,595","19,414","19,457","19,163"

In [70]:
pop.to_csv('year_pop.csv', encoding = 'utf-8')

In [17]:
# 진영님 여기 부터는 제가 for loop 연습중이라 안돌려보셔도돼요. 
# helper
def which_encoding(year):
    return 'utf-8' if year >= 2010 else 'euc-kr'


"""
~2009
df = pd.read_csv('2008_4_4.csv', encoding = 'euc-kr')
df= df[['Column1','Column3', 'Column5']].copy()
df=df.rename({'Column3' : '동이름', 'Column5' : str(df.iat[2, 0])}, axis=1)
df = df.drop(df.index[:2])
df = df.drop('Column1', axis = 1)
df = df[df.동이름 != '소계']
df = df[df.동이름 != '합계']

2010 ~ 2012
df = pd.read_csv('2010_4_4.csv', encoding='utf-8')

df = df[['기간', '동', '계']].copy()
df = df.rename({'동' : '동이름', '계' : str(df.iat[1, 0])}, axis=1)
df = df.drop(df.index[0])
df = df.drop('기간', axis = 1)
df = df[df.동이름 != '소계']
df = df[df.동이름 != '합계']


2013~2014

df = pd.read_csv('2013_4_4.csv', encoding='utf-8')
df = df[['기간', '동', '인구']].copy()
df = df.rename({'동' : '동이름', '인구' : str(df.iat[2, 0])}, axis=1)
df = df.drop(df.index[:2])
df = df.drop('기간', axis = 1)
df = df[df.동이름 != '소계']
df = df[df.동이름 != '합계']

2015 ~ 
df = pd.read_csv('2015_4_4.csv', encoding='utf-8')
df = df[['기간', '행정동', '인구']].copy()
df = df.rename({'행정동' : '동이름', '인구' : str(df.iat[2, 0])}, axis=1)
df = df.drop(df.index[:2])
df = df.drop('기간', axis = 1)
df = df[df.동이름 != '소계']
df = df[df.동이름 != '합계']

return df
"""

: str(int(filename[:4])

def data_process(filename):
    print(filename)
    if filename[:4].startswith('20'):
        year = int(filename[:4])
    else:
        year = int(filename[2:6])
    
    df = pd.read_csv(filename, encoding=which_encoding(year))

    if year <= 2009:
        df = df[['Column1','Column3', 'Column5']].copy()
        df = df.rename({'Column3' : '동이름', 'Column5' : str(year)}, axis=1)
        df = df.drop(df.index[:2])
        df = df.drop('Column1', axis = 1)
        df = df[df.동이름 != '소계']
        df = df[df.동이름 != '합계']
    elif 2010 <= year <= 2012:
        df = df[['기간', '동', '계']].copy()
        df = df.rename({'동' : '동이름', '계' : str(year)}, axis=1)
        df = df.drop(df.index[0])
        df = df.drop('기간', axis = 1)
        df = df[df.동이름 != '소계']
        df = df[df.동이름 != '합계']
    elif 2013 <= year <= 2014:
        df = df[['기간', '동', '인구']].copy()
        df = df.rename({'동' : '동이름', '인구' : str(year)}, axis=1)
        df = df.drop(df.index[:2])
        df = df.drop('기간', axis = 1)
        df = df[df.동이름 != '소계']
        df = df[df.동이름 != '합계']
    else:
        df = df[['기간', '행정동', '인구']].copy()
        df = df.rename({'행정동' : '동이름', '인구' : str(year)}, axis=1)
        df = df.drop(df.index[:2])
        df = df.drop('기간', axis = 1)
        df = df[df.동이름 != '소계']
        df = df[df.동이름 != '합계']
    return df

In [18]:
import os
import pandas as pd

os.chdir('C:\\Users\\lunar\\Desktop\\to_csv')
dirs = os.listdir()
result = pd.DataFrame()

for filename in dirs:
    if not '_4_4' in filename:
        continue
    df = data_process(filename)
    result = pd.merge(result, df, how='left')
    
result.to_csv('year_populationi.csv', encoding = 'utf-8')

._2010_4_4.csv

KeyError: "['기간' '동' '계'] not in index"