In [1]:
import pandas as pd

In [23]:
price = pd.read_csv('data/price_raw/2018.csv', encoding='cp949')
price.head(3)

,상가건물번호,건물구분,고시일자,법정동코드,특수지코드,번지,호,상가건물블록주소,상가건물동주소,건물층구분코드,상가건물층주소,상가건물호주소,고시가격(원),전유면적(㎡),공용면적(㎡)
0,1,4,2018-01-01,1123010600,0,431,5,신부파스칼텔(431-5),1(단일),4,1,102,2727000,25.2,6.91
1,1,4,2018-01-01,1123010600,0,431,5,신부파스칼텔(431-5),1(단일),4,1,103,2727000,26.6,7.28
2,1,4,2018-01-01,1123010600,0,431,5,신부파스칼텔(431-5),1(단일),4,1,104,3031000,25.9,7.08

## 필요한 데이터 가져오기

### 건물, 법정동, 번지로 그룹화하기

In [24]:
price_group = price.groupby(['상가건물번호', '상가건물블록주소', '건물구분', '법정동코드', '번지', '상가건물층주소']).mean().reset_index()
price_group.head(3)

,상가건물번호,상가건물블록주소,건물구분,법정동코드,번지,상가건물층주소,특수지코드,호,건물층구분코드,고시가격(원),전유면적(㎡),공용면적(㎡)
0,1,신부파스칼텔(431-5),1,1123010600,431,1,0.0,5.0,1.0,696000.0,156.070000,42.720000
1,1,신부파스칼텔(431-5),4,1123010600,431,1,0.0,5.0,4.0,2636500.0,45.630000,12.492500
2,1,신부파스칼텔(431-5),4,1123010600,431,2,0.0,5.0,4.0,1646000.0,22.961538,10.728462

### 서울(법정동코드가 11로 시작) 데이터만 남기기

In [25]:
price_group['법정동코드'] = price_group['법정동코드'].astype(str)
price_group.shape

(109739, 12)

In [26]:
price_seoul = price_group[price_group['법정동코드'].str.startswith('11')]
price_seoul.shape
len(price_seoul['법정동코드'].unique())

315

### 상가, 복합건물만 남기기
건물구분코드
1: 상가, 2 : 오피스텔, 3 : 복합건물

In [27]:
price_seoul = price_seoul[price_seoul['건물구분'] != 2]
len(price_seoul['법정동코드'].unique())

315

In [ ]:
price_seoul.shape

In [ ]:
price_seoul.head(3)

### 건물별로 묶기

In [ ]:
price_building = price_seoul.groupby(['상가건물번호', '법정동코드', '번지']).mean().reset_index()
price_building.head(3)

In [ ]:
price_building['고시가격'] = price_building['고시가격'].astype(int)
price_building.sort_values(by='고시가격', ascending=False).head(3)

### 위경도 가져오기

##### 법정동 코드와 동이름 맵핑하기

In [22]:
# 법정동코드 파일 정리
code = pd.read_csv('data/area_code.txt', encoding='cp949')
code = code['법정동코드\t법정동명\t폐지여부'].str.split('\t', expand=True)
code.columns = ['법정동코드', '법정동명', '폐지여부']
code_seoul = code[code['법정동코드'].str.startswith('11')]
code_seoul = code_seoul[['법정동코드', '법정동명']]
code_seoul['법정동코드'] = code_seoul['법정동코드'].astype(float)

code2 = code[code['법정동코드'].str.startswith('11')]
len(code2['법정동코드'].unique())

1112

In [ ]:
price_building['법정동코드'] = price_building['법정동코드'].astype(float)
price_building = price_building.merge(code_seoul, on='법정동코드')

##### 위도, 경도 구하기

In [ ]:
# 구글맵 api 가져오기
import googlemaps
gmaps_key = 'AIzaSyC7xRHrjvdhP_nclErZ7IEGVc4JftZ_jgc' 
gmaps = googlemaps.Client(key=gmaps_key)

In [ ]:
price_building['번지'] = price_building['번지'].astype(str)
price_building['주소'] = price_building['법정동명'] + ' ' + price_building['번지']
price_building.head(3)

In [ ]:
# 위경도 받아오기
geo_lats = []
geo_lngs = []
for index, single_addr in enumerate(price_building['주소']):
    tmp = gmaps.geocode(single_addr, language='ko')
    geometry = tmp[0].get('geometry')
    lat = geometry['location']['lat']
    lng = geometry['location']['lng']
    geo_lats.append(lat)
    geo_lngs.append(lng)
    print(lat, lng)

In [ ]:
price_building['lat'] = geo_lats
price_building['lng'] = geo_lngs

In [ ]:
price_building.to_csv('data\2010_price_lat_lng.csv')