In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
from plotnine import *

In [3]:
%ls

 C 드라이브의 볼륨: Windows
 볼륨 일련 번호: 44EC-5869

 C:\Users\rlath\JupyterNotebook\final project 디렉터리

2018-09-05  오전 11:16    <DIR>          .
2018-09-05  오전 11:16    <DIR>          ..
2018-09-05  오전 11:16    <DIR>          .ipynb_checkpoints
2018-09-05  오전 11:15    <DIR>          data
2018-09-05  오전 11:16                72 Untitled.ipynb
               1개 파일                  72 바이트
               4개 디렉터리  168,649,916,416 바이트 남음

In [83]:
df_shop_1512 = pd.read_csv('data/data_seoul_shop_201512_01.csv', encoding='cp949')

In [84]:
df_shop_1512_seoul_address = df_shop_1512.loc[df_shop_1512['시도명'] == '서울특별시'].copy(deep=True)

In [85]:
df_shop_1512_seoul_address = df_shop_1512_seoul_address[['시도명', '시군구명', '행정동명', '법정동명', '지번주소', '도로명']].copy(deep=True)

In [88]:
df_itaewon_1512 = df_shop_1512_seoul_address.loc[df_shop_1512_seoul_address['법정동명'] == '이태원동'].copy(deep=True)

In [87]:
len(df_itaewon_1512)

2085

In [90]:
def how_many_shops_in(filename, area):
    df = pd.read_csv(filename, encoding='cp949')
#     df_seoul = df.loc[df['시도명'] == '서울특별시'].copy(deep=True)
#     df_address = df_seoul[['시도명', '시군구명', '행정동명', '법정동명', '지번주소', '도로명']].copy(deep=True)
    df = df.loc[df['법정동명'] == area].copy(deep=True)
    
    return len(df)

In [97]:
filenames = [f'data/data_seoul_shop_201{y}{m:02}_01.csv'\
            for y in range(5,9)
            for m in range(3,13,3)][3:14]

In [106]:
filenames.pop(-3)

'data/data_seoul_shop_201712_01.csv'

In [107]:
filenames

['data/data_seoul_shop_201512_01.csv',
 'data/data_seoul_shop_201603_01.csv',
 'data/data_seoul_shop_201606_01.csv',
 'data/data_seoul_shop_201609_01.csv',
 'data/data_seoul_shop_201612_01.csv',
 'data/data_seoul_shop_201703_01.csv',
 'data/data_seoul_shop_201706_01.csv',
 'data/data_seoul_shop_201709_01.csv',
 'data/data_seoul_shop_201803_01.csv',
 'data/data_seoul_shop_201806_01.csv']

In [108]:
for file in filenames:
    print(file[21:27], ':', how_many_shops_in(file, '이태원동'))

201512 : 2085
201603 : 2434
201606 : 2406
201609 : 2206
201612 : 2486
201703 : 2460
201706 : 2455
201709 : 2438
201803 : 2004
201806 : 2011

In [101]:
t = pd.read_csv('data/data_seoul_shop_201712_01.csv')
t = t.loc[t['법정동명'] == '이태원동']

1977

In [110]:
print('201712 : ', len(t))

201712 :  1977

In [125]:
df_itaewon = pd.DataFrame({201512 : 2085, 201603 : 2434, 201606 : 2406, 201609 : 2206, 201612 : 2486,
                 201703 : 2460, 201706 : 2455, 201709 : 2438, 201712 : 1977, 201803 : 2004, 201806 : 2011}, index=range(1))

In [126]:
df_itaewon

,201512,201603,201606,201609,201612,201703,201706,201709,201712,201803,201806
0,2085,2434,2406,2206,2486,2460,2455,2438,1977,2004,2011

In [127]:
for file in filenames:
    print(file[21:27], ':', how_many_shops_in(file, '연남동'))

201512 : 772
201603 : 913
201606 : 895
201609 : 470
201612 : 682
201703 : 704
201706 : 745
201709 : 658
201803 : 764
201806 : 774

In [129]:
y = pd.read_csv('data/data_seoul_shop_201712_01.csv')
y = y.loc[y['법정동명'] == '연남동']

In [132]:
print('201712 : ', len(y))

201712 :  698

In [130]:
for file in filenames:
    print(file[21:27], ':', how_many_shops_in(file, '상수동'))

201512 : 584
201603 : 728
201606 : 713
201609 : 509
201612 : 612
201703 : 623
201706 : 639
201709 : 523
201803 : 569
201806 : 576

In [133]:
s = pd.read_csv('data/data_seoul_shop_201712_01.csv')
s = s.loc[s['법정동명'] == '상수동']
print('201712 : ', len(s))

201712 :  543

In [134]:
for file in filenames:
    print(file[21:27], ':', how_many_shops_in(file, '상도동'))

201512 : 2541
201603 : 3242
201606 : 3210
201609 : 2124
201612 : 2466
201703 : 2478
201706 : 2516
201709 : 2358
201803 : 2229
201806 : 2248

In [135]:
sangdo = pd.read_csv('data/data_seoul_shop_201712_01.csv')
sangdo = sangdo.loc[sangdo['법정동명'] == '상도동']

In [144]:
print('201712 :', len(sangdo))

201712 : 2197

In [139]:
df_yeonnam = pd.DataFrame({201512 : 772, 201603 : 913, 201606 : 895, 201609 : 470, 201612 : 682,
                           201703 : 704, 201706 : 745, 201709 : 658, 201712 : 698, 201803 : 764, 201806 : 774}, index=range(1))

In [140]:
df_yeonnam

,201512,201603,201606,201609,201612,201703,201706,201709,201712,201803,201806
0,772,913,895,470,682,704,745,658,698,764,774

In [142]:
df_sangsoo = pd.DataFrame({201512 : 584, 201603 : 728, 201606 : 713, 201609 : 509, 201612 : 612, 201703 : 623,
                           201706 : 639, 201709 : 523, 201712 : 543, 201803 : 569, 201806 : 576}, index=range(1))
df_sangsoo

,201512,201603,201606,201609,201612,201703,201706,201709,201712,201803,201806
0,584,728,713,509,612,623,639,523,543,569,576

In [145]:
df_sangdo = pd.DataFrame({201512 : 2541, 201603 : 3242, 201606 : 3210, 201609 : 2124, 201612 : 2466, 201703 : 2478,
                          201706 : 2516, 201709 : 2358, 201712 : 2197, 201803 : 2229, 201806 : 2248}, index=range(1))

In [146]:
df_sangdo

,201512,201603,201606,201609,201612,201703,201706,201709,201712,201803,201806
0,2541,3242,3210,2124,2466,2478,2516,2358,2197,2229,2248